<!DOCTYPE html>
<html>
	<head>
		<link href="/css/styles.css" type="text/css" rel="stylesheet"> 		
		<% include head.ejs %>
	</head>
	<body>
		<div class="header">
			<a onclick="goto('/')"><h1 class="brandName button blue">Swuvv Chat</h1></a>
        </div>
		<div class="container">
            <div class='errorPopup blue'>
                <h1>Page Not found</h1>
                <h3>Looks like you have followed a broken link or entered a URL that does not exist on this site.</h3>
                <!--<%-message%>-->
                <b><a href='/'><span>← Back to the site</span></a></b>
            </div>
        </div>
	</body>
    <script src="/js/jquery.js"></script>
    <script src="/js/func.js"></script>
</html>