<%
var icon = 'mediaIcon';
if (typeof pageType != 'undefined') {
	if (pageType === 'mobile') {
		icon = 'mediaIconMobile';
	}
}
%>
<div id='popup.<%-friend._id%>' class='hide'>
	<div id='popup' class='popupFriend'>
		<div class='popupContainer'>
			<h1 class='popupTitle'><%-friend.name%></h1>
			<% if (typeof friend.info != 'undefined') {%>
				<% if (typeof friend.info.media != 'undefined') {%>
					<% if (friend.info.media.view == true) { %>
					<ul class='popupMedia'>
						<% if (friend.info.media.facebook != '' && typeof friend.info.media.facebook != 'undefined') {%>
						<li><a target="_blank" href='https://www.facebook.com/<%=friend.info.media.facebook%>'>
							<img class="<%- icon %>" src='/img/facebook.png'></a>
						</li>
						<% } %>

						<% if (friend.info.media.twitter != '' && typeof friend.info.media.twitter != 'undefined') {%>
						<li><a target="_blank" href='https://www.twitter.com/<%=friend.info.media.twitter%>'>
							<img class="<%- icon %>" src='/img/twitter.png'></a>
						</li>
						<% } %>

						<% if (friend.info.media.snapchat != '' && typeof friend.info.media.snapchat != 'undefined') {%>
						<li><a target="_blank" href='https://www.snapchat.com/add/<%=friend.info.media.snapchat%>'>
							<img class="<%- icon %>" src='/img/snapchat.png'></a>
						</li>
						<% } %>

						<% if (friend.info.media.instagram != '' && typeof friend.info.media.instagram != 'undefined') {%>
						<li><a target="_blank" href='https://www.instagram.com/<%=friend.info.media.instagram%>'>
							<img class="<%- icon %>" src='/img/instagram.png'></a>
						</li>
						<% } %>

						<% if (friend.info.media.youtube != '' && typeof friend.info.media.youtube != 'undefined') {%>
						<li><a target="_blank" href='https://www.youtube.com/user/<%=friend.info.media.youtube%>'>
							<img class="<%- icon %>" src='/img/youtube.png'></a>
						</li>
						<% } %>

						<% if (friend.info.media.linkedin != '' && typeof friend.info.media.linkedin != 'undefined') {%>
						<li><a target="_blank" href='https://www.linkedin.com/in/<%=friend.info.media.linkedin%>'>
							<img class="<%- icon %>" src='/img/linkedin.png'></a>
						</li>
						<% } %>
					</ul>
					<% } %>
					
				<% } %>
					<% if (friend.profilePicture != null) { %>
						<img id='popupProfile' src='/uploads/profile-picture/<%-friend.profilePicture%>'/>
					<% } else { %>
						<img id='popupProfile' src='/uploads/profile-picture/defaultPic.png'/>
					<% } %>
					<% if (friend.info.gender.view == true) {%>
						<div class='popupProfileText'>Gender: <%- friend.info.gender.value%></div>
					<% } %>
					<% if (friend.info.dob.view == true) {%>
						<div class='popupAge'>Age: <%-friend.info.dob.value%></div>
					<% } %>
				<div class='popupProfileText'><%- friend.info.bio%></div>
			<% } %>
			
		</div>
		<ul class='buttonContainer containerTwo'>
			<% if (page == 'new') {%>
				<li onclick="addFriend('<%-friend._id%>')" class='left blue button'>Add Friend</li>
				<li onclick="viewFriend('<%-friend._id%>', 'hide')" class='right red button'>Close</li>
			<% } %>
			<% if (page == 'confirm') {%>
				<li onclick="viewFriend('<%-friend._id%>', 'hide')" class='right red button'>Close</li>
			<% } %>
		</ul>
	</div>
</div>