<link rel="apple-touch-icon" sizes="57x57" href="/favicons/apple-touch-icon-57x57.png?v=NmmwMOzB5E">
<link rel="apple-touch-icon" sizes="60x60" href="/favicons/apple-touch-icon-60x60.png?v=NmmwMOzB5E">
<link rel="apple-touch-icon" sizes="72x72" href="/favicons/apple-touch-icon-72x72.png?v=NmmwMOzB5E">
<link rel="apple-touch-icon" sizes="76x76" href="/favicons/apple-touch-icon-76x76.png?v=NmmwMOzB5E">
<link rel="apple-touch-icon" sizes="114x114" href="/favicons/apple-touch-icon-114x114.png?v=NmmwMOzB5E">
<link rel="apple-touch-icon" sizes="120x120" href="/favicons/apple-touch-icon-120x120.png?v=NmmwMOzB5E">
<link rel="apple-touch-icon" sizes="144x144" href="/favicons/apple-touch-icon-144x144.png?v=NmmwMOzB5E">
<link rel="apple-touch-icon" sizes="152x152" href="/favicons/apple-touch-icon-152x152.png?v=NmmwMOzB5E">
<link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-touch-icon-180x180.png?v=NmmwMOzB5E">
<link rel="icon" type="image/png" href="/favicons/favicon-32x32.png?v=NmmwMOzB5E" sizes="32x32">
<link rel="icon" type="image/png" href="/favicons/android-chrome-192x192.png?v=NmmwMOzB5E" sizes="192x192">
<link rel="icon" type="image/png" href="/favicons/favicon-96x96.png?v=NmmwMOzB5E" sizes="96x96">
<link rel="icon" type="image/png" href="/favicons/favicon-16x16.png?v=NmmwMOzB5E" sizes="16x16">
<link rel="manifest" href="/favicons/manifest.json?v=NmmwMOzB5E">
<link rel="mask-icon" href="/favicons/safari-pinned-tab.svg?v=NmmwMOzB5E" color="#80c9ee">
<link rel="shortcut icon" href="/favicons/favicon.ico?v=NmmwMOzB5E">
<meta name="msapplication-TileColor" content="#80c9ee">
<meta name="msapplication-TileImage" content="/favicons/mstile-144x144.png?v=NmmwMOzB5E">
<meta name="msapplication-config" content="/favicons/browserconfig.xml?v=NmmwMOzB5E">
<meta name="theme-color" content="#80c9ee">

<meta name="description" content="Meet new friends. Explore the world.">

<meta name="twitter:card" content="summary">
<meta name="twitter:url" content="https://swuvv.com">
<meta name="twitter:title" content="Swuvv">
<meta name="twitter:description" content="Meet new friends. Explore the world.">
<meta name="twitter:image" content="https://swuvv.com/swuvvLogo.png">
<meta name="twitter:site" content="@swuvv">

<meta property="og:image" content="https://swuvv.com/swuvvLogo.png"/>
<meta property="og:title" content="Swuvv"/>
<meta property="og:url" content="https://swuvv.com"/>
<meta property="og:site_name" content="Swuvv"/>
<meta property="og:type" content="article"/>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-77451816-1', 'auto');
  ga('send', 'pageview');

</script>
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<title>Swuvv</title>

<!-- Begin Cookie Consent plugin by Silktide - http://silktide.com/cookieconsent -->
<script type="text/javascript">
    window.cookieconsent_options = {"message":"This website uses cookies to ensure you get the best experience on our website","dismiss":"Got it!","learnMore":"More info","link":"/privacy","theme":"dark-floating"};
</script>

<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/1.0.10/cookieconsent.min.js"></script>
<!-- End Cookie Consent plugin -->
