<!DOCTYPE html>
<html>
	<head>
		<link href="/css/styles.css" type="text/css" rel="stylesheet"> 		
		<link href="/css/animations.css" type="text/css" rel="stylesheet"> 		
		<% include head.ejs %>
		
	</head>
	<body class='blue noBorder'>
		<div class="header">
			<a onclick="goto('/')"><h1 class="brandName button blue">Swuvv Chat</h1></a>
        </div>
		<div class="container">
			<% var page = 'index'; %>
			<% include sidebar.ejs %>
			<div class="main txtAlign">
				<h1>Welcome, <%- user.name %></h1>
			</div>
        </div>
		
		<script src="/socket.io/socket.io.js"></script>
		<script src="/js/jquery.js"></script>
		<script src="/js/func.js"></script>
	</body>
</html>