<!DOCTYPE html>
<html>
	<head>
		<link href="/css/styles.css" type="text/css" rel="stylesheet">
		<link href="/css/animations.css" type="text/css" rel="stylesheet">
		<script src="/js/jquery.js"></script>
        <script src="/js/func.js"></script>
		<% include head.ejs %>
	</head>
	<body class='hideOverflow'>
        <div class='backgroundImg fade'><img id='rndImg'/></div>
        <script>
            var imgs = ['1.jpg', '2.jpg', '3.jpg', '4.jpg', '5.jpg'];
            var img = imgs[Math.floor(Math.random() * imgs.length)];
            _('rndImg').src = 'img/'+img;
        </script>
        <div class='loginFloater middle'>
			<h1 class="brandName logoAnimation">Swuvv Chat</h1>
			<h2 class='littleTag'>Chat with new people and make friends!</h2>
			<p class='littleDesc'>Swuvv is the new way to meet people from around the world, chat and make friends. </p>
			<a href="/auth/facebook" class='noUnderline'>
				<div class='middle button fbLogin'>Login With Facebook</div>
			</a>
			<% if (loginError) { %>
				<p><%= loginError %></p>
			<% } %>
        </div>
	</body>
</html>