<!DOCTYPE html>
<html>
	<head>
		<link href="/css/styles.css" type="text/css" rel="stylesheet"> 		
		<link href="/css/animations.css" type="text/css" rel="stylesheet"> 		
		<% include head.ejs %>
		
	</head>
	<body onload="convertAge()" class='hideOverflow blue noBorder'>
		<div class="header">
			<a onclick="goto('/')"><h1 class="brandName button blue">Swuvv Chat</h1></a>
        </div>
		<div class="container">
			<% var page = 'msg'; %>
			<% var pageType = 'desk'; %>
			<% include sidebar.ejs %>
			<div class="main messagesRight txtAlign">
				<h1>Make new friends!</h1>
				<% for(var i=0; i < friends.length; i++) { %>
					<span><%-friends[i].name%></span>
					<a href='#' onclick="viewFriend('<%-friends[i].id%>', 'show')">View</a><br>
					<% page = 'new'; %>
					<% friend = friends[i]; %>
					<% include friendPopup.ejs %>
				<% } %>
				<div id='backgroundPopup' class="hide"></div>
			</div>
        </div>
		<script src="/socket.io/socket.io.js"></script>
		<script src="/js/jquery.js"></script>
		<script src="/js/func.js"></script>
		<script src="/js/other.js"></script>
		
	</body>
</html>