<div id='backgroundPopup' class="hide"></div>
<div id='popup' class="hide">
	<div class='popupContainer'>
		<h1 class='popupTitle'>Confirm Image</h1>
		<div id="loadingCircle" class='hide'><svg xmlns="http://www.w3.org/2000/svg" width="80px" height="60px" viewBox="5 0 80 60"><path id="wave" fill="none" stroke="#80C9EE" stroke-width="4" stroke-linecap="round" d="M 0 37.5 c 7.684299348848887 0 7.172012725592294 -15 15 -15 s 7.172012725592294 15 15 15 s 7.172012725592294 -15 15 -15 s 7.172012725592294 15 15 15 s 7.172012725592294 -15 15 -15 s 7.172012725592294 15 15 15 s 7.172012725592294 -15 15 -15 s 7.172012725592294 15 15 15 s 7.172012725592294 -15 15 -15 s 7.172012725592294 15 15 15 s 7.172012725592294 -15 15 -15 s 7.172012725592294 15 15 15 s 7.172012725592294 -15 15 -15 s 7.172012725592294 15 15 15 s 7.172012725592294 -15 15 -15"></path></svg></div>
        <div id='progressAmount' class='hide'>0%</div>
		<img id='popupImg'/>
		<video id='popupVid' controls><source>Your browser does not support the video tag.</video>
		
	</div>
	<ul class='buttonContainer containerTwo'>
		<li onclick="confirmPopup()" class='left blue button'>Accept</li>
		<li onclick='declinePopup()' class='right red button'>Decline</li>
	</ul>
</div>