<!DOCTYPE html>
<html>
	<head>
		<link href="/css/styles.css" type="text/css" rel="stylesheet">
		<link href="/css/animations.css" type="text/css" rel="stylesheet">
		<title>Swuvv Settings</title>
		<% include head.ejs %>
	</head>
	<body class='hideOverflow blue noBorder'>  
		<div class="header">
			<a onclick="goto('/')"><h1 class="brandName button blue">Swuvv Chat</h1></a>
        </div>
		<div class="container">
			<div class='main fullWidth txtAlign'>
				<%
				var pic = user.profilePicture;	
				if (pic == undefined) {
						pic = 'defaultPic.png';
				}
				%>
				<h1 class='noMargin'>Welcome to Swuvv! Setup your account:</h1>
				<h2 class='noMargin'>Profile Picture</h2>
				<img id='currProfilePic' src='/uploads/profile-picture/<%- pic%>'>
				<form id='uploadProfilePic' enctype="multipart/form-data" method="post">
					<input type="file" class='hiddenMsgFile' id='profilePic' name="profile-picture" accept="image/*"/>
					<div onclick="clickHidden('profilePic'); return false;" class='chooseProfilePic red button'>Choose File</div>
				</form>
				
				Date of birth: <input type="text" id="datepicker" class='redBorder txtInput'value='<%= user.info.dob.value %>' readonly> 
				<select id='dobView' class='redBorder txtInput'>
					<%
					dobView = 'Private';
					if (user.info.dob.view == true) {
						dobView = 'Public';
					}
					%>
					<option value='<%= dobView %>'><%= dobView %></option>
					<option value='Public'>Public</option>
					<option value='Private'>Private</option>
				</select><br>


				Gender: 
				<select id='gender' class='redBorder txtInput'>
					<option value='<%= user.info.gender.value%>'><%= user.info.gender.value%></option>
					<option value='Male'>Male</option>
					<option value='Female'>Female</option>
					<option value='Other'>Other</option>
				</select>
				<select id='genderView' class='redBorder txtInput'>
					<%
					genderView = 'Private';
					if (user.info.gender.view == true) {
						genderView = 'Public';
					}
					%>
					<option value='<%= genderView %>'><%= genderView %></option>
					<option value='Public'>Public</option>
					<option value='Private'>Private</option>
				</select><br><br>
				
				Bio: <br><textarea class='redBorder txtInput' id='setupBio' maxlength="400" placeholder="About you (max 400 characters)"><%= user.info.bio %></textarea>
				
				<div class='settingsSave fixedUp fullWidth setup'>
					<div id='saveLoading' class='hide'>Loading... Please Wait - <span id='saveProgress'>0%</span></div>
					<div id='saveProfile' class='save redBorder button setup' onclick='setupSave(); return false;'>Save</div>
				</div>
			</div>
        </div>
		
		<script src="/socket.io/socket.io.js"></script>
		<script src="/js/moment.js"></script>
		<script src="/js/jquery.js"></script>
		<script src="/js/jquery-ui.js"></script>
		<script src="/js/func.js"></script>
		<script src="/js/settings.js"></script>
	</body>
</html>