<%
var animation;
if (typeof page != 'undefined') {
	if (page != 'msg') {
		animation = 'slideUp';
	}
}
%>
<div class="sidebar">
	<div id='sidebar' class='<%=animation%>'>
		<div class="contact button blue" onclick="goto('/settings');">
			<span class="contactName">Settings</span>
		</div>
		<div class="contact button blue" onclick="goto('/new');">
			<span class="contactName">Make new friends!</span>
		</div>
		<% for(var i=0; i < contacts.length; i++) { 
		conf = '';
		pic = '';
		border = '';
		if (contacts[i].confirmed == false) {
			conf = 'Confirm Friend - ';
			border = 'redBorder redGlow';
		}
		if (contactsProfile[i].profilePicture != undefined) {
			pic = contactsProfile[i].profilePicture;
		} else {
			pic = 'defaultPic.png';
		}

		%>
		<div class="contact button blue <%= border %>" onclick="goto('/messages/<%= contacts[i].roomName %>');">
			<img class="contactImg" src="/uploads/profile-picture/<%= pic %>"/>
			<span class="contactName"><%= conf %><%= contactsProfile[i].name %></span>
		</div>
		<% } %>
	</div>
</div>