.loginFloater {
    -moz-animation-name: showLogin;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: ease;
    -moz-animation-duration: 0.75s;

    -webkit-animation-name: showLogin;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease;
    -webkit-animation-duration: 0.75s;

    animation-name: showLogin;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-duration: 0.75s;
}
.messagesRight {
	-moz-animation-name: fadeInRight;
	-moz-animation-duration: 0.75s;
	-moz-animation-timing-function: ease;
	-moz-animation-fill-mode: both;
	
	-webkit-animation-name: fadeInRight;
	-webkit-animation-duration: 0.75s;
	-webkit-animation-timing-function: ease;
	-webkit-animation-fill-mode: both;
	
	animation-name: fadeInRight;
	animation-duration: 0.75s;
	animation-timing-function: ease;
	animation-fill-mode: both;
	
	overflow-x: hidden;
}
/*
==============================================
slideUp - http://www.justinaguilar.com/animations/css/animations.css
==============================================
*/
.slideUp {
	animation-name: slideUp;
	-webkit-animation-name: slideUp;	
	-moz-animation-name: slideUp;	

	animation-duration: 0.75s;
	-webkit-animation-duration: 0.75s;
	-moz-animation-duration: 0.75s;

	animation-timing-function: ease;	
	-webkit-animation-timing-function: ease;
	-moz-animation-timing-function: ease;
	
	will-change: transform;
}
.fixedUp {
	opacity: 0;
	
	animation-delay: 0.5s;
	-moz-animation-delay: 0.5s;
	-webkit-animation-delay: 0.5s;
	
	animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;
	-moz-animation-fill-mode: forwards;
	
	animation-name: fixedUp;
	-webkit-animation-name: fixedUp;	
	-moz-animation-name: fixedUp;	

	animation-duration: 0.75s;
	-webkit-animation-duration: 0.75s;
	-moz-animation-duration: 0.75s;

	animation-timing-function: ease;	
	-webkit-animation-timing-function: ease;
	-moz-animation-timing-function: ease;
	
	will-change: transform;
}
.fade {
	-moz-animation-name: fade;
	-moz-animation-duration: 0.75s;
	-moz-animation-timing-function: ease;
	-moz-animation-fill-mode: both;
	
	-webkit-animation-name: fade;
	-webkit-animation-duration: 0.75s;
	-webkit-animation-timing-function: ease;
	-webkit-animation-fill-mode: both;
	
	animation-name: fade;
	animation-duration: 0.75s;
	animation-timing-function: ease;
	animation-fill-mode: both;
}
@-moz-keyframes showLogin {
    0% {
        -moz-transform: translate3d(0, 50vh, 0);
    }
    100% {
        -moz-transform: none;
    }
}
@-webkit-keyframes showLogin {
    0% {
        -webkit-transform: translate3d(0, 50vh, 0);
    }
    100% {
        -webkit-transform: none;
    }
}
@keyframes showLogin {
    0% {
        transform: translate3d(0, 50vh, 0);
    }
    100% {
        transform: none;
    }
}

@keyframes slideUp {
	0% {
		transform: translate3d(0, 100%, 0);
		opacity: 0;
	}
	50%{
		transform: translate3d(0, -5%, 0);
	}		
	100% {
		transform: none;
		opacity: 1;
	}	
}
@-webkit-keyframes slideUp {
	0% {
		-webkit-transform: translate3d(0, 100%, 0);
		opacity: 0;
	}
	50%{
		-webkit-transform: translate3d(0, -5%, 0);
	}			
	100% {
		-webkit-transform: none;
		opacity: 1;
	}	
}
@-moz-keyframes slideUp {
	0% {
		-moz-transform: translate3d(0, 100%, 0);
		opacity: 0;
	}
	50%{
		-moz-transform: translate3d(0, -5%, 0);
	}			
	100% {
		-moz-transform: none;
		opacity: 1;
	}	
}
/* these cannot be transform otherwise element looks strange*/
@keyframes fixedUp {
	0% {
		bottom: -100px;
		opacity: 0;
	}		
	100% {
		bottom: 0;
		opacity: 1;
	}	
}
@-moz-keyframes fixedUp {
	0% {
		bottom: -100px;
		opacity: 0;
	}		
	100% {
		bottom: 0;
		opacity: 1;
	}	
}
@-webkit-keyframes fixedUp {
	0% {
		bottom: -100px;
		opacity: 0;
	}		
	100% {
		bottom: 0;
		opacity: 1;
	}	
}
@keyframes fadeInRight {
	0% {
		transform: translate3d(100%, 0, 0);
	}
	100% {
		transform: none;
	}
}
@-moz-keyframes fadeInRight {
	0% {
		-moz-transform: translate3d(100%, 0, 0);
	}
	100% {
		-moz-transform: none;
	}
}
@-webkit-keyframes fadeInRight {
	0% {
		-webkit-transform: translate3d(100%, 0, 0);
	}
	100% {
		-webkit-transform: none;
	}
}
@keyframes fade {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@-moz-keyframes fade {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@-webkit-keyframes fade {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
