@import 'https://fonts.googleapis.com/css?family=Bree+Serif|Source+Sans+Pro';
/*	COLOURS
	#F7F8FB - White
	#495A6B - Grey
	#D9DDE4 - Light Grey
	#FC888F - Highlight Red
	#80C9EE - Highlight Blue	
	#44b0e6 - Hover Blue
	#fa4651 - Hover Red
*/
html {
	height: 100%;
}
body {
	vertical-align: top;
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: 'Source Sans Pro', sans-serif;
    padding: 0;
}
.topMargin {
	margin-top: 10px !important; 
}
.hide {
	display: none !important;
}
.show {
	display: block !important;
}
.button {
	cursor: pointer;
}
.button.preset {
	border-radius: 5px;
	width: 80%;
	padding: 1vh 0;
	text-align: center;
}
.no-click {
	cursor: auto;
}
.middle {
	margin: auto;
}
.txtAlign {
	text-align: center;
}
.transition {
	-webkit-transition: all 100ms linear;
	-moz-transition: all 100ms linear;
	-o-transition: all 100ms linear;
	-ms-transition: all 100ms linear;
	transition: all 100ms linear;
}
.blue {
	background-color: #80C9EE !important;
	border: 1px solid #80C9EE !important;
}
.red {
	background-color: #FC888F !important;
	border: 1px solid #FC888F !important;
}
.grey {
	background-color: #D9DDE4 !important;
	border: 1px solid #D9DDE4 !important;
}
.redBorder {
	border: 1px solid #FC888F !important;
}
.redGlow {
	box-shadow: 0px 0px 10px #FC888F;
}
.noMargin {
	margin: 0;
}
.noBorder {
	border: 0 !important;
}
.red.button:hover {
    background-color: #fa4651 !important;
	border: 1px solid #fa4651 !important;
	box-shadow: 0px 0px 10px #fa4651 !important;
}
.blue.button:hover {
    background-color: #44b0e6 !important;
	border: 1px solid #44b0e6 !important;
	box-shadow: 0px 0px 10px #44b0e6 !important;
}
.fullWidth {
	width: 100% !important;
}
.back {
	position: absolute;
	bottom: 2%;
	left: 10%;
}
.backgroundImg img {
    margin: 0;
    width: 100vw;
    height: 100vh;
    vertical-align: middle;
	object-fit: cover;   
}
.backgroundImg {
    overflow: hidden;
}
.loginFloater {
    width: 50vw;
    background-color: white;
    position: absolute;
    top: 25vh;
    left: 25vw;
    border-radius: 5px;
    padding: 5px;
    overflow: hidden;
}
.fbLogin {
	background-color: #3b5998;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
	color: white;
	text-decoration: none;
}
.noUnderline {
	text-decoration: none;
}
.normalTxtCol {
    color: black;
}
.littleTag {
	margin: 0;
}
.littleDesc {
	margin: 0;
	margin-bottom: 10px;
}
.hideOverflow {
	overflow: hidden;
}
#backgroundPopup {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: black;
	opacity: 0.35;
	filter: alpha(opacity=35); /* For IE8 and earlier */
	z-index: 10;
}
#popup {
	width: 70vw;
	height: 70vh;
	background: white;
	position: fixed;
	z-index: 100;
	left: 15vw;
	top: 15vh;
	box-shadow: 0px 0px 25px #000;
	border-radius: 5px;
	text-align: center;
}
.popupFriend {
	height: auto !important;
}
.popupContainer {
	width: inherit;
	/*height: 50vh;*/
	margin: auto;
}
.popupTitle {
	margin: 5px;
}
#popupImg, #popupVid {
	max-height: 100%;
	max-width: 70%;
	margin: auto;
}
.popupMedia {
	list-style-type: none;
    margin: 0;
    padding: 0;
}
.popupMedia li {
	display: inline;
}
.mediaIcon, .mediaIconMobile {
	max-height: 4vw;
	max-width: 4vw;
	padding: 0.5vw;
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}
.mediaIcon:hover, .mediaIconMobile:hover {
	-webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
}
.mediaIconMobile {
	max-height: 8vw;
	max-width: 8vw;
}
.containerTwo {
	text-align: center;
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%;
}
.profileSettings {
	text-align: center;
}
.left, .right {
	display: inline-block;
    width: 49%;
    border-radius: 5px;
	padding: 1.2vh 0;
	margin-bottom: 3px;
}
.left.profilePic {
	vertical-align: top;
}
.left.mobile, .right.mobile {
	width: 100%;
}
#datepicker {
	width: 8em;
}
#ui-datepicker-div {
	background-color: white;
}
.ui-icon.ui-icon-circle-triangle-e {
	float: right;	
}
.ui-icon.ui-icon-circle-triangle-w, .ui-icon.ui-icon-circle-triangle-e {
	margin: 3px;
}
/* cookie css */
.cc_container {
	background-color: #495A6B !important;
}
.cc_btn {
	background-color: #FC888F !important;
	color: black !important;
}
.cc_btn:hover, .cc_btn:active {
    background-color: #fa4651 !important;
	color: black !important;
}
.cc_message a, .cc_message a:visited {
	color: #80C9EE !important;
}
.cc_logo {
	display: none !important;
}
#currProfilePic {
	max-width: 20vw;
	max-height: 20vh;
	border-radius: 5px;
}
#currProfilePic.mobile {
	max-width: 70vw;
	max-height: 35vh;
	border-radius: 5px;
}
#saveLoading {
	float: left;
}
.settingsSave {
	background-color: #80C9EE;
	background-image:
    linear-gradient(
      to left, 
      #80C9EE, #495A6B
    ) !important;
	position: fixed;
	bottom: 0;
	/*left: 30vw;*/
	width: 68vw;
	padding: 1%;
	text-align: right;
}
.settingsSave .save {
	border-radius: 5px;
	padding: 5px;
	display: inline-block;
	font-size: 1.3em;
}
.settingsSave .save.mobile {
	margin-right: 2%;
}
.settingsSave.mobile {
	width: 100%;
	left: 0;
	background-image: none !important;
}
.chooseProfilePic {
	border-radius: 5px;
	padding: 5px;
	display: inline-block;
}

#settingsBio, #setupBio {
	font-family: 'Source Sans Pro', sans-serif;
	width: 90%;
    height: 10vh;
}
#setupBio {
	width: 50%;
}
.setup.settingsSave {
	left: 0;
}
.setup.save {
	margin-right: 2%;
}
.socialMedia {
	width: 20%;
}
.socialMediaURL {
	width: 30%;
	
}
.txtInput {
	border-radius: 5px;
    padding: 2px;
}
.buttonContainer {
	/*position: absolute;
    bottom: 0;
    left: 0;*/
}
.header {
	text-align: center;
	height: 6%;
}
.brandName {
	margin: 0;
	font-size: 5vh;
	font-family: 'Bree Serif', serif;
}
.container {
	display: flex;
	height: 94%;
    background-color: #E5F0F5;
}
.errorPopup {
    width: 50vw;
    margin: auto;
    position: relative;
    top: -100px;
    border-radius: 5px;
    padding: 5px;
}
.errorPopup h1 {
    margin: 0;
}
.sidebar {
	width: 30%;
	background-color: #495A6B;
	height: 100%;
	overflow-y: auto;
}
.sidebar.mobile {
	width: 100%;
}
.contact {
    width: 90%;
    margin: 0 auto;
    padding: 0.3vw;
    margin-bottom: 0.6vw;
    margin-top: 0.6vw;
    border-radius: 5px;
}
.contact.mobile {
	width: 98%;
}
.contactImg {
    width: 4vw;
    height: 4vw;
    vertical-align: middle;
    border-radius: 5px;
	object-fit: cover;
}
.contactImg.mobile {
	width: 10vw;
	height: 10vw;
}
.main {
	background-color: #E5F0F5;
	height: 100%;
	width: 70%;
}
.main.mobile {
	width: 100%;
}
.messages {
	height: 85%;
	overflow-y: hidden;
	width: 100%;
	height: calc(100% - 2em - 75px);
}
.msg {
	max-height: 60px;
}
.msgBar {
	height: 2em;
	vertical-align: middle;
}
.msgBar h2 {
	margin: 0;
	position: relative;
	font-size: 1.5em;
	left: 1%;
	float: left;
	color: white;
}


.hamburger, .cross{
	position: relative;
	float: right;
	background:none;
	padding:5px 15px 0px 15px;
	color:#fff;
	border:0;
	font-size:1.5em;
	font-weight:bold;
	cursor:pointer;
	outline:none;
	z-index:10000000000000;
    margin-top: -0.8%;
}
.menu {
	z-index:1000000; 
	font-weight:bold; 
	font-size:1em; 
	width:100%; 
	background:#FC888F;  
	position:absolute;
}
.menu ul {
	margin: 0; 
	padding: 0; 
	list-style-type: none; 
	list-style-image: none;
}
.menu li {
	display: block;   
	padding:15px 0 15px 0; 
	padding-left: 20px;
}
.menu a { 
	text-decoration:none; 
	color:white;
}

.msg {
	padding: 0 1px;
	position: fixed; 
	bottom: 0;
	width: 70vw;
}
.msgDate {
	color: #A6A6A8;
    float: right;
	margin-right: 3em;
    font-size: 0.7em;
}
.msgDateLeft {
	color: #A6A6A8;
    float: none;
	margin-left: 3em;
    font-size: 0.7em;
}
.clear { 
	clear:both; 
}
.msgInput {
	border: 0;
	padding: 1%;
	width: 86%;
	margin-right: .5%;
	resize: vertical;
	max-height: 100px;
	font-family: 'Source Sans Pro', sans-serif;
    border-radius: 5px;
}
.msgInput.mobile {
	width: 70%;
}
.msgOther {
	text-align: center;
	width: 5%;
	border: none;
	padding: 10px;
	position: absolute;
	top: 0;
	height: 90%;
    border-radius: 5px;
}
.hiddenMsgFile {
	overflow: hidden;
	height: 0;
	position: absolute;
}
.msgSend {
	text-align: center;
	width: 5%;
	border: none;
	padding: 1px;
	position: absolute;
	top: 0;
	height: 90%;
    border-radius: 5px;
	right: 1%;
}
.msgSend.mobile {
	width: 16%;
	padding: 0;
}
.msgOther.mobile {
	width: 10%;
}

#popupProfile {
	float: left;
	max-width: 20%;
	margin-left: 10%;
	margin-right: 2%;
	max-height: 20vh;
	margin-bottom: 10px;
}

.popupProfileText, .popupAge {
	text-align: left;
	padding: 0 10%;
	margin-bottom: 20px;
}

/* BUBBLE - http://stackoverflow.com/questions/31801488/dynamic-speech-bubble-in-css*/
.bubble {
	position: relative;
	background: #FBFEF9;
	max-width: 60%;
	padding: 10px;
	font-size: 14px;
	word-wrap: break-word;
	margin: 10px 0 0 3%;
    border-radius: 5px;
}
.ownMsg {
	transform: rotate(180deg);
	margin-left: 35%;
}
@media screen and (max-width: 720px) {
   .ownMsg {
		margin-left: 32%;
	}
}
.ownMsg div {
	transform: rotate(180deg);
	margin: 0;
}
.msgMedia {
	max-width: 100%;
	max-height: 60vh;
	transition: 0.75s;
	-webkit-transition:0.75s;
	-moz-transition:0.75s;
}
.msgMedia.small {
	filter: blur(5px);
        -webkit-filter: blur(5px);
        -moz-filter: blur(5px);
        -o-filter: blur(5px);
        -ms-filter: blur(5px);
}
.preview {
	filter: blur(1px);
	-webkit-filter: blur(1px);
}
#loadingCircle, #fullPageLoading {
	height: 160px;
	width: 160px;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	border: 5px double #FC888F;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	border-radius: 100%;
	margin: 0 auto;
	margin-bottom: 1%;
    z-index: 1;
}
svg {
	margin: 0 auto;
	overflow: hidden;
	margin-top: 32%;
}
.loadingSvg {
	position: relative;
	left: 33%;
}
#fullPageLoading {
	left: 45%;
	top: 30%;
}
#wave {
	stroke-dasharray: 0 16 101 16;
	-webkit-animation: moveTheWave 2400ms linear infinite;
	animation: moveTheWave 2400ms linear infinite;
}
@-webkit-keyframes moveTheWave {
	0% {
		stroke-dashoffset: 0;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
	100% {
		stroke-dashoffset: -133;
		-webkit-transform: translate3d(-90px, 0, 0);
		transform: translate3d(-90px, 0, 0);
	}
}
@keyframes moveTheWave {
	0% {
		stroke-dashoffset: 0;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
	100% {
		stroke-dashoffset: -133;
		-webkit-transform: translate3d(-90px, 0, 0);
		transform: translate3d(-90px, 0, 0);
	}
}