<!DOCTYPE html>
<html>
	<head>
		<link href="/css/styles.css" type="text/css" rel="stylesheet"> 		
		<% include ../head.ejs %>
		
	</head>
	<body>
		<div class="header">
			<a onclick="goto('/')"><h1 class="brandName button blue">Swuvv Chat</h1></a>
        </div>
		<div class="container">
			<div class="main mobile txtAlign">
				<% if (type == 'recieved') {%>
					<h1>Confirm friendship?</h1>
					<% page = 'confirm'; %>
					<% pageType = 'mobile'; %>
					<% include ../friendPopup.ejs %>
					<div href='#'onclick="viewFriend('<%-friend._id%>', 'show')" class="button blue preset middle">View Friend</div>
					<br>
					<div href='#' onclick="confirmFriend('<%= contactId %>')" class="button blue preset middle">Confirm</div>
					<br>
					<div href='#' onclick="declineFriend('<%= contactId %>')" class='button red preset middle'>Decline</div>
				<% } else if (type == 'sent') { %>
					<h1>Friend request sent</h1>
                    <div href='#' onclick="declineFriend('<%= contactId %>')" class='button red preset middle'>Cancel Friend Request</div>
				<% } %>
				<div class='button blue back preset' onclick='goto("/")'>Back</div>
			</div>
			<div id='backgroundPopup' class="hide"></div>
        </div>
		
		<script src="/socket.io/socket.io.js"></script>
		<script src="/js/jquery.js"></script>
		<script src="/js/func.js"></script>
		<script src="/js/other.js"></script>
	</body>
</html>