<!doctype html>
<html>
    <head>
        
        <link href="/css/styles.css" type="text/css" rel="stylesheet"> 		
        <link href="/css/animations.css" type="text/css" rel="stylesheet"> 		
		<% include ../head.ejs %>
    </head>
    <body>        
        <div class="header">
			<a onclick="goto('/')"><h1 class="brandName button blue">Swuvv Chat</h1></a>
        </div>
		<div class="sidebar mobile" id='sidebar'>
			<div id='sidebar' class='slideUp'>
				<div class="contact mobile button blue" onclick="goto('/settings');">
					<span class="contactName">Settings</span>
				</div>
				<div class="contact button mobile blue" onclick="goto('/new');">
					<span class="contactName">Make new friends!</span>
				</div>
				<% for(var i=0; i < contacts.length; i++) { 
				conf = '';
				pic = '';
				if (contacts[i].confirmed == false) {
					conf = 'Confirm Friend - ';
				}
				if (contactsProfile[i].profilePicture != undefined) {
					pic = contactsProfile[i].profilePicture;
				} else {
					pic = 'defaultPic.png';
				}

				%>
				<div class="contact mobile button blue" onclick="goto('/messages/<%= contacts[i].roomName %>');">
					<img class="contactImg mobile" src="/uploads/profile-picture/<%= pic %>"/>
					<span class="contactName"><%= conf %><%= contactsProfile[i].name %></span>
				</div>
				<% } %>
			</div>
		</div>
		
		<script src="/socket.io/socket.io.js"></script>
		<script src="/js/jquery.js"></script>
		<script src="/js/func.js"></script>
    </body>
</html>
