<!doctype html>
<html>
    <head>
        
        <link href="/css/styles.css" type="text/css" rel="stylesheet"> 		
		<% include ../head.ejs %>
    </head>
	<body onload='hideScroll()' class='hideOverflow blue'>        
        <div class="header">
			<a onclick="goto('/')"><h1 class="brandName button blue">Swuvv Chat</h1></a>
        </div>
        <div class="container">
			<% include ../popup.ejs %>
            <div class="main messagesRight mobile">
                <div class='msgBar red'>
					<header>
						<h2><%= friend.name%></h2>
						<button class="hamburger">&#9776;</button>
						<button class="cross">&#10006;</button>
					</header>
					<div class="menu">
						<ul>
							<a id='reportLink' onclick='report("<%=friend._id%>")'><li class='red noBorder button' id='reportBtn'>Report User</li></a>
							<a onclick='closeConversation("<%=room%>")'><li class='red noBorder button' id='closeBtn'>Close Conversation</li></a>
						</ul>
					</div>
				</div>
                <div class="messages" id="messages">
					<div id='loadingMsgs'>Loading...</div>
					<div id="loadMoreBtn" onclick="loadMore(40)" class='hide'>Load More</div>
					<div id="welcomeMsg" class='hide'>
						<div>There does not seem to be anything here :(</div>
						<div>Send a message by typing into the message box and clicking send</div>
						<div>Add photos or videos by clicking on the '+'</div>
					</div>
                </div>
                <form action="" class="msg fullWidth">
					<!--<input type=file id="msgOther" class="hiddenMsgFile" accept="image/*, video/*"/> WITH VIDEO--> 
					<input type=file id="msgOther" class="hiddenMsgFile" accept="image/*, video/*"/>
                    <textarea class="msgInput mobile" id="m" autocomplete="off" placeholder='Message'></textarea>
                    <button class="msgOther mobile blue button" onclick="openMessageFileInput(event)">+</button>
                    <button class="msgSend mobile blue button">Send</button>
                </form>
            </div>
        </div>
		<script>
			//this is for variables provided by the server as they can only be used here
			var name = '<%- user.id%>';
			var clientRoom = '<%- room%>';
		</script>
        <script src="/js/jquery.js"></script>
		<script src="/socket.io/socket.io.js"></script>
		<script src="/js/socketio-stream.js"></script>
		<script src="/js/func.js"></script>
		<script src="/js/messages.js"></script>
    </body>
</html>
