<!DOCTYPE html>
<html>
	<head>
		<link href="/css/styles.css" type="text/css" rel="stylesheet"> 		
		<% include ../head.ejs %>
		
	</head>
	<body>
		<div class="header">
			<a onclick="goto('/')"><h1 class="brandName button blue">Swuvv Chat</h1></a>
        </div>
		<div class="container">
			<div class="main mobile">
				<%
				var pic = user.profilePicture;	
				if (pic == undefined) {
						pic = 'defaultPic.png';
				}
				%>
				<div class='profileSettings'>
					<h1 class='noMargin'>Settings</h1>
					<li class='left mobile'>
						<h2 class='noMargin'>Profile Picture</h2>
						<img id='currProfilePic' src='/uploads/profile-picture/<%- pic%>'>
						<form id='uploadProfilePic' enctype="multipart/form-data" method="post">
							<input type="file" class='hiddenMsgFile' id='profilePic' name="profile-picture" accept="image/*"/>
							<div onclick="clickHidden('profilePic'); return false;" class='chooseProfilePic red button'>Choose File</div>
						</form>
					</li>
					<li class='right mobile'>
						Date of birth: <input class='redBorder txtInput' type="button" id="datepicker" value='<%= user.info.dob.value %>'> 
						<select id='dobView' class='redBorder txtInput'>
							<%
							dobView = 'Private';
							if (user.info.dob.view == true) {
								dobView = 'Public';
							}
							%>
							<option value='<%= dobView %>'><%= dobView %></option>
							<option value='Public'>Public</option>
							<option value='Private'>Private</option>
						</select><br>
						
						
						Gender: 
						<select id='gender' class='redBorder txtInput'>
							<option value='<%= user.info.gender.value%>'><%= user.info.gender.value%></option>
							<option value='Male'>Male</option>
							<option value='Female'>Female</option>
							<option value='Other'>Other</option>
						</select>
						<select id='genderView' class='redBorder txtInput'>
							<%
							genderView = 'Private';
							if (user.info.gender.view == true) {
								genderView = 'Public';
							}
							%>
							<option value='<%= genderView %>'><%= genderView %></option>
							<option value='Public'>Public</option>
							<option value='Private'>Private</option>
						</select>
						<br><br>
						
						Social Media: 
						<select id='mediaView' class='redBorder txtInput'>
							<%
							mediaView = 'Public';
							if (user.info.media.view == false) {
								mediaView = 'Private';
							}
							%>
							<option value='<%= mediaView %>'><%= mediaView %></option>
							<option value='Public'>Public</option>
							<option value='Private'>Private</option>
						</select><br>	
						Facebook: <br> https://www.facebook.com/<input id='fb' class='socialMediaURL txtInput redBorder' placeholder="Facebook" value='<%=user.info.media.facebook%>'><br>
						Twitter: <br> https://www.twitter.com/<input id='tw' class='socialMediaURL txtInput redBorder' placeholder="Twitter" value='<%=user.info.media.twitter%>'><br>
						Snapchat: <br> https://www.snapchat.com/add/<input id='sc'class='socialMediaURL txtInput redBorder' placeholder="Snapchat" value='<%=user.info.media.snapchat%>'><br>
						YouTube: <br> https://www.youtube.com/user/<input id='yt'class='socialMediaURL txtInput redBorder' placeholder="YouTube" value='<%=user.info.media.youtube%>'><br>
						LinkedIn: <br> https://www.linkedin.com/in/<input id='li'class='socialMediaURL txtInput redBorder' placeholder="LinkedIn" value='<%=user.info.media.linkedin%>'><br>
						Instagram: <br> https://www.instagram.com/<input id='ig'class='socialMediaURL txtInput redBorder' placeholder="Instagram" value='<%=user.info.media.instagram%>'><br>
						<br>
						
						Bio: <br><textarea class='redBorder txtInput' id='settingsBio' maxlength="400" placeholder="About you (max 400 characters)"><%= user.info.bio %></textarea>
					</li>
					<div class='settingsSave mobile'>
						<div id='saveLoading' class='hide'>Loading... Please Wait - <span id='saveProgress'>0%</span></div>
						<div id='saveProfile' class='save redBorder button mobile' onclick='saveEverything(); return false;'>Save</div>
					</div>
				</div>
			</div>
        </div>
		
		<script src="/socket.io/socket.io.js"></script>
		<script src="/js/moment.js"></script>
		<script src="/js/jquery.js"></script>
		<script src="/js/jquery-ui.js"></script>
		<script src="/js/func.js"></script>
		<script src="/js/settings.js"></script>
	</body>
</html>